<!doctype html>
<html lang="en" layout:decorate="~{fragments/main_layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Resident List</title>
</head>
<body>
<div class="container" layout:fragment="content" role="main">
    <form action="#" method="post" th:action="${resident != null} ? '/residents/'+${resident.id} : '/residents'"
          th:object="${residentModel}">
        <div class="form-row mt-3">
            <div class="col">
                <input class="form-control" placeholder="First Name" required th:id="firstName"
                       th:name="firstName"
                       th:value="${resident != null} ? ${resident.firstName}" type="text"/>
            </div>
            <div class="col">
                <input class="form-control" placeholder="Last Name" required th:id="lastName"
                       th:name="lastName"
                       th:value="${resident != null} ? ${resident.lastName}" type="text"/>
            </div>
        </div>
        <div class="form-row mt-1">
            <div class="col">
                <input class="form-control" placeholder="PESEL" required th:id="pesel"
                       th:name="pesel" th:value="${resident != null} ? ${resident.pesel}" type="text"/>
            </div>
            <div class="col">
                <select class="form-control" required th:id="gender" th:name="gender">
                    <option th:if="${resident != null}" th:text="${resident.gender}"
                            th:value="${resident.gender}"></option>
                    <option th:text="M" th:unless="${resident != null}" th:value="'M'"></option>
                    <option th:text="K" th:unless="${resident != null}" th:value="'K'"></option>
                </select>
            </div>
        </div>
        <div class="form-row mt-1">
            <div class="col">
                <input class="form-control" onblur="(this.type='text')" onfocus="(this.type='date')"
                       placeholder="Date of Birth"
                       th:id="dateDOB"
                       th:name="dateDOB" th:value="${resident != null} ? ${resident.dateDOB}" type="text"/>
            </div>
            <div class="col">
                <select class="form-control" required th:id="room" th:name="room"
                        th:switch="${#lists.size(roomList)}">
                    <option th:if="${resident != null}" th:text="${resident.room.id}"
                            th:value="${resident.room.id}"></option>
                    <option th:case="'0'" th:unless="${resident != null}">NO FREE ROOMS</option>
                    <option th:case="'1'"
                            th:text="'Room: ' + ${roomList[0].id} + ' Status: ' + ${roomList[0].roomStatus}"
                            th:unless="${resident != null}" th:value="${roomList[0].id}"></option>
                    <option th:case="*" th:each="freeRoom :  ${roomList}"
                            th:text="'Room: ' + ${freeRoom.id} + ' Status: ' + ${freeRoom.roomStatus}"
                            th:unless="${resident != null}" th:value="${freeRoom.id}"></option>
                </select>
            </div>
        </div>
        <div class="form-row mt-1">
            <div class="col">
                <input class="form-control" placeholder="Mothers name" required th:id="mothersName"
                       th:name="mothersName"
                       th:value="${resident != null} ? ${resident.mothersName}" type="text"/>
            </div>
            <div class="col">
                <input class="form-control" placeholder="Fathers Name" required th:id="fathersName"
                       th:name="fathersName"
                       th:value="${resident != null} ? ${resident.fathersName}" type="text"/>
            </div>
        </div>
        <div class="form-row mt-1">
            <div class="col">
                <input class="form-control" placeholder="Email" required th:id="email"
                       th:name="email"
                       th:value="${resident != null} ? ${resident.email}" type="text"/>
            </div>
            <div class="col">
                <input class="form-control" placeholder="Country" required th:id="country"
                       th:name="country"
                       th:value="${resident != null} ? ${resident.country}" type="text"/>
            </div>
        </div>
        <div class="form-row mt-1">
            <div class="col">
                <input class="form-control" placeholder="Address" required th:id="address"
                       th:name="address"
                       th:value="${resident != null} ? ${resident.address}" type="text"/>
            </div>
            <div class="col">
                <input class="form-control" placeholder="Phone Number" required th:id="phoneNumber"
                       th:name="phoneNumber"
                       th:value="${resident != null} ? ${resident.phoneNumber}" type="text"/>
            </div>
        </div>
        <div class="form-row mt-1">
            <div class="col">
                <input class="form-control" onblur="(this.type='text')" onfocus="(this.type='date')"
                       placeholder="Accommodation Date" th:id="accommodationDate"
                       th:name="accommodationDate" th:value="${resident != null} ? ${resident.accommodationDate}"
                       type="text"/>
            </div>
            <div class="col">
                <input class="form-control" onblur="(this.type='text')" onfocus="(this.type='date')"
                       placeholder="Eviction Date"
                       th:id="evictionDate"
                       th:name="evictionDate" th:value="${resident != null} ? ${resident.evictionDate}" type="text"/>
            </div>
        </div>
        <div class="form-row mt-1">
            <div class="col">
                <input class="form-control" placeholder="Zbanowany" required th:id="isBlocked"
                       th:name="isBlocked"
                       th:value="${resident != null} ? ${resident.isBlocked}" type="text"/>
            </div>
            <div class="col">
                <input class="form-control" placeholder="Payment Fee" required th:id="paymentFee"
                       th:name="paymentFee"
                       th:value="${resident != null} ? ${resident.paymentFee}" type="text"/>
            </div>
        </div>
        <div class="form-row mt-1">
            <div class="col">
                <select class="form-control" required th:id="residentType" th:name="residentType"
                        th:switch="${#lists.size(residentTypes)}">
                    <option th:if="${resident != null}" th:text="${resident.residentType.type}"
                            th:value="${resident.residentType.id}"></option>
                    <option th:case="'0'" th:unless="${resident != null}">NO TYPES</option>
                    <option th:case="'1'"
                            th:text="'Type: ' + ${residentTypes[0].type}"
                            th:unless="${resident != null}" th:value="${residentTypes[0].id}"></option>
                    <option th:case="*" th:unless="${resident != null}" th:each="residentType :  ${residentTypes}"
                            th:text="${residentType.type}"
                            th:value="${residentType.id}"></option>
                </select>
            </div>
            <div class="col">
                <input class="form-control" placeholder="Payment Fee" required th:id="paymentFee"
                       th:name="paymentFee"
                       th:value="${resident != null} ? ${resident.paymentFee}" type="text"/>
            </div>
        </div>
        <div class="form-row mt-2 justify-content-center">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <a th:href="@{/residents}">Return to Resident List</a>
</div>
</body>
</html>